.articleCard {
  padding-left: 4vw;
  padding-right: 5vw;
  text-align: justify;
}

h2 {
  padding-top: 2vh;
  text-align: left;
  font-size:5vw;
}

@media screen and (max-width: 500px) {
  h1 {
  font-size:8vw;
  }
}
