.articles {
  width: 100vw;
  grid-area: main;
  overflow-y: scroll;
  max-height: 560px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #EDEDED
  
}

select {
  background-color: #EDEDED;
  width: 50vw;
}

.article {
  position: relative;
  margin: 1em;
}

.articles_card {
  width: 40vw;
  height: 18vw;
  padding: 2vw;
  background-color:whitesmoke;
  border-width: 1.75px;
  border-color: #6C9B96;
}

.article_title {
  font-weight: 700;
  font-size: 140%;
  margin:.2em;
}

.article_info {
  text-align: left;
  margin: 1.5em;
  position: absolute;
  bottom: 7.5vw; 
}

.article_link {
color: #6C9B96;
font-weight: 400;
font-size: 110%;
margin-top: 0;
margin-left: .8em;
position: absolute;
bottom: 2vw;
}

.article_link:hover {
  color: #E05E5E;
}


/* Is this doing anything??? */
@media screen and (max-width: 667px) {
  .articles_card {
    width: 90vw;
    height: 33vw;
  }
  .article_title {
    font-size: 3.2vw;
  }
  .article_info{
    font-size: 2.5vw;
  }
  .article_link{
    font-size: 2.5vw;
  }
}

@media screen and (min-width:668px) and (max-width: 899px) {
  .articles_card {
    width: 40vw;
    height: 26vw;
    padding: 1vw;
  }
  .article_title {
    font-size: 2.2vw;
  }
  .article_info{
    font-size: 1.8vw;
    position: absolute;
    bottom: 6vw; 
  }
  .article_link{
    font-size: 2vw;
    bottom: 1vw
  }
} 

@media screen and (min-width: 900px) {
  .articles_card {
    width: 30vw;
    height: 18vw;
    padding: 1vw;
  }
  .article_title {
    font-size: 1.8vw;
  }
  .article_info{
    font-size: 1.4vw;
    position: absolute;
    bottom: 2vw;
    right: -2.5vw;
    text-align: right;
    
    font-weight: 300;
  }
  .article_link{
    font-size: 1.6vw;
    bottom: 1vw
  }
}  