.comment_break {
        border: 1px solid #6C9B96;
        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
}

.commentToggle {
background-color: rgba(28, 35, 34, 0.95);
  color: #6C9B96;
  transition: 600ms;
  transition-delay: 200ms;
}

.commentToggle:hover {
  font-size: 105%;
  transition: 400ms;
  cursor: pointer;
}

.comments {
  padding: 0;
  width: 100%;
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 110%;
  color: #1C2322;
  background-color: #EDEDED;
  overflow-y: scroll;
  max-height: 560px;  
}

.comments li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.thumbs {
  text-align: center;
}
.fa-thumbs-up {
  color: #1C2322;
  margin-right: .5em;
  font-size: 200%;
} 
.fa-thumbs-up:hover {
    transition: 100ms;
    color: #6C9B96;
}

.fa-thumbs-down {
  color: #1C2322;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 200%;
}
.fa-thumbs-down:hover {
    transition: 20ms;
    color:  #E05E5E;
}

form {
background-color: #EDEDED;
margin-left: 1vw;
}

@media screen and (max-width: 667px) {
  body {
    background-color: whitesmoke;
  }
  .thumbs {
  text-align: center;
}
.fa-thumbs-up {
  color: #1C2322;
  margin-right: .5em;
  font-size: 150%;
  }
.fa-thumbs-down {
  color: #1C2322;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 150%;
  }
}
