.Header {
  width: 100vw;
  max-height: 16vh;
  text-align: right;
  padding: 0;
  padding-right: 1vw;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18vw;
  font-weight: 300;
  background-color: rgba(28, 35, 34);
  color: #6C9B96;
  text-shadow: .005em .005em #141919;
}

h1 {
  position: absolute;
  
}

h1 span {
  font-size: 80%;
  padding: .02em;
}

.fa-user {
  position: relative;
  padding-top: 16vw;
  padding-bottom: 1vw;
  top: 4vw;
  right: 1vw;
  font-size: 6vw;
}

@media screen and (max-width: 667px) {
  .Header {
    padding-right: 4.6vw;
  }
  .fa-user {
    font-size: 6vw;
  }
}

@media screen and (min-width: 667px) {
  .Header {
    max-height: 20vw;
    font-size: 12vw;
    /* padding-right: 4.6vw; */
  }
  .fa-user {
    position: relative;
    padding-top: 9vw;
    padding-bottom: 4.5vw;
    top: 4vw;
    right: 1vw;
    font-size: 6vw;
  }
}

@media screen and (min-width: 900px) {
  .Header {
    max-height: 24vw;
    font-size: 12vw;
  }
  .fa-user {
    font-size: 4vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    padding-right: 1vw;
  }
  h1 {
    right: 1vw;
  }
}