.nav {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(28, 35, 34, 0.95);
}

button {
font-family: 'Roboto Condensed', sans-serif;
font-weight: 300;
margin: .1em;
padding: 5px;
background-color:#BCB8B9;
border-radius: .3em;
box-shadow: 2px 2px #171A21;
  

}

input {
  font-family: 'Roboto Condensed', sans-serif;
font-weight: 300;
  margin: .1em;
  background-color:#BCB8B9;
color: #1C2322;
  border-radius: .3em;
  box-shadow: 2px 2px #171A21;
}