.nav {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(28, 35, 34, 0.95);
}

button {
  text-align: center;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 300;
margin: .1em;
padding: .6em 1.4em .5em .8em;
background-color:rgba(188, 184, 185, 0.781);
border-radius: .3em;
box-shadow: 2px 2px #171A21;
}
button:hover {
    border-color: #888;
}

input {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin: .1em;
  background-color:rgba(188, 184, 185, 0.781);
  color: #1C2322;
  border-radius: .3em;
  box-shadow: 2px 2px #171A21;
}

select {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: .3em;
    padding: 5px;
    background-color:rgba(188, 184, 185, 0.781);
    color:#1C2322;
    border-radius: .3em;
    box-shadow: 2px 2px #171A21;


    padding: .6em 1.4em .5em .8em;
    width: 30%;
    max-width: 30%; 
    /* box-sizing: border-box; */
}
select:hover {
    border-color: #888;
}
select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
select option {
    font-weight:normal;
}

