.topics {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(28, 35, 34, 0.95);
  list-style: none;
}


img {
    width:100vw;
    margin: 0;
  }

.container {
  width: 100vw;
  position: relative;
  text-align: center;
  color:#EDEDED;
  margin: 0;
  padding: 0;
}

.textoverlay {
  margin:0;
  position: absolute;
  top: 50px;
  left: 30em;
  width:20%;
}


@media screen and (min-width: 576px) {
  img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  box-shadow: 0 10px 20px 15px #141919, 0 6px 20px 0 #141919;
  }
}


/**Tablets*/
@media screen and (max-width: 900px) {
  .textoverlay {
  top: 7vw;
  left: 70vw;
  }
}

/**Phones - Phablet*/
@media screen and (max-width: 667px) {
  .textoverlay {
  top: 5vw;
  left: 70vw;
  }
}

/**iPad Pro & Desktop*/
@media screen and (min-width: 900px) {
  .topics h2 {
    font-size: 7vw;
  }
  .textoverlay {
  top: 8vw;
  left: 67vw;
  }
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  box-shadow: 0 10px 20px 15px #141919, 0 6px 20px 0 #141919;
  }
  .container {
  width: 60vw;
  position: relative;
  text-align: center;
  color:#EDEDED;
  margin: 0;
  padding: 0;
}
.textoverlay {
  margin:0;
  position: absolute;
  top: 50px;
  left: 40vw;
  width:20vw;
}
.topics {
  align-items: center;
  margin: 0;
  padding: 0;
}
.topics h2 {
    font-size: 5vw;
  }
}