.App {
  display: grid;
  grid-template-rows: 2fr 1fr 10fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "Header"
  "Nav"
  "Main"
  "Footer";
  text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
color: #171A21;
  background-color:  #F9F9F9;
}
