body {
  display: grid;
  grid-template-rows: 220px 50px auto auto;
  grid-template-columns: auto;
  grid-template-areas:
  "Header"
  "Nav"
  "Main"
  "Bottom";
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: #1C2322;
  background-color: #EDEDED;
  width: 100%;
  min-width: 320px;
  min-height: 480px;
}


nav {
  grid-area: "Nav";
  background-color: rgba(28, 35, 34, 0.95);
  color: #6C9B96;
  font-weight: 400;
  font-size: 110%;

}

.comments {
  width: 100%;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: #1C2322;
  background-color: #EDEDED;
  overflow-y: scroll;
  max-height: 560px;
  
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 320px;
  }
}
